<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{url_for('index')}}" class="nav-link px-2 text-secondary">Главная</a></li>
                    {% for nav in navigation -%}
                        <li><a href="{{nav.url}}" class="nav-link px-2 text-white">{{nav.name}}</a></li>
                    {% endfor -%}
                </ul>
                {% if logout %}
                    <div class="text-end">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/log_out" class="nav-link px-2 text-white">Выйти</a></li>
                    </ul>
                </div>
                {% endif %}
<!-- любой текст
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                  <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
                </form>

                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2">Войти</button>
                  <button type="button" class="btn btn-warning">Регистрация</button>
                </div>-->
            </div>
        </div>
    </header>

        <div class="content">
            {% block content %}
                <h1>{{title}}</h1>
            {% endblock %}
        </div>

</body>
</html>