{% extends 'base.html' %}

{% block content %}
<div class="article">
    <div class="article-title">
        <h1 class="article-title">{{title}}</h1>
    </div>

    <div class="article-body">
        <form id='registration-form' action="/registration" method="post" enctype="multipart/form-data">
            <input type="text" name='username' placeholder="username">
            <input type="password" name='password' placeholder="password">
            <button type="submit">Войти</button>
        </form>

        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', (event) => {
              event.preventDefault();
              const formData = new FormData(form);
              fetch('/login', {
                method: 'POST',
                body: formData,
              })
              .then(response => response.json())
              .then(data => {
                location.reload();;
              })
              .catch(error => {
                console.error('Ошибка при отправке данных', error);
              });
            });
        </script>

    </div>

</div>
{% endblock %}